
.modal {
	position: sticky;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100vh;
	z-index: 10;
	background-color: rgba(0,0,0,0.5);
	overflow: auto;

	display: grid;
	place-content: center;

	&__content {
		position: relative;
		background-color: #fff;
		border-radius: 0.5rem;
		padding: 2rem;

		.icon--close-modal {
			position: absolute;
			top: 1rem;
			right: 1rem;	
		}
	}

	&.hidden {
		display: none;
	}
}