
@use '../abstracts' as *;

.pledge {
	border: 1px solid $neutral-dark-grey;
	border-radius: 0.5rem;
	margin-top: 1.5rem;
	padding: 2rem;

	&__header,
	&__cta {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__header {
		margin-bottom: 2rem;

		p {
			color: $primary-moderate-cyan;
			margin: 0;
		}
	}

	&__cta {
		margin-top: 2rem;

		p {
			margin: 0;
			display: flex;
			align-items: center;
		}

		&--stock {
			font-size: 2rem;
			font-weight: 700;
			color: $neutral-black;
			margin: 0;
			margin-right: 0.5rem;
		}
	}

	&.disabled {
		opacity: 0.5;
	}
}