
@use '../abstracts' as *;

.stats {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0;
	margin-bottom: 1.75rem;

	&__stat {
		position: relative;
		width: 29.5%;
		border-right: 1px solid $neutral-medium-grey;

		&--value,
		&--description {
			margin: 0;
		}

		&--value {
			font-size: 2rem;
			font-weight: 700;
			margin-bottom: 0.75rem;
		}

		&:last-of-type {
			border-right: none
		}
	}
}